<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title></title>
	<link rel="stylesheet" href="./layer/theme/default/layer.css">
	<link rel="stylesheet" type="text/css" href="./css/reponse.css">
	<style type="text/css">
		.alertceng{
			background: #FFFFFF;
			padding: 10px;
			display: none;
		}
		.alertceng span.title{
			margin-right: 10px;
		}
	</style>
</head>
<body>
	<div class="layui-fluid layadmin-homepage-fluid" style="background: #fff;width:90%;margin:0 auto;">
		<div id="page">
			<div class="btn-container">
				<button class="layui-btn" onclick="addtr();">新增</button>
				<!--<button class="layui-btn" onclick="ExportExcel();">导出Excel</button>-->
				<!--<button class="layui-btn" onclick="resivetabledata();">获取table数据</button>-->
				<!--<button class="layui-btn" onclick="reloadtable();">刷新table表格</button>-->
				<!--<button class="layui-btn" onclick="coldata();">获取某一列的数据</button>-->
			</div>
			<table id="table" class="reponsetable" ></table>
			<script type="text/html" id="editer">
				<a class="layui-btn layui-btn-xs" onclick="edittr(this)">编辑</a>
				<a class="layui-btn layui-btn-xs" onclick="deletetr(this)">删除</a>
				<!--<a class="layui-btn layui-btn-xs" onclick="uptr(this)">上移</a>
				<a class="layui-btn layui-btn-xs" onclick="downtr(this)">下移</a>-->
		  </script>
		</div>  
	</div>
	<div id="editcontent" class="alertceng">
			<p><span class="title">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期:</span>
				<input id="dailyDate" class="layui-input" type="date"/>
			</p>
			<p><span class="title">所属项目:</span><input type="text" id="project"/></p>
			<p><span class="title">一级模块:</span><input type="text" id="firstModule"/></p>
			<p><span class="title">二级模块:</span><input type="text" id="secondModule"/></p>
			<p><span class="title">问题类型:</span>
                <select id="problemType" style="width:173px;">
                    <option value="需求问题">需求问题</option>
                    <option value="处理bug">处理bug</option>
                    <option value="沟通解答">沟通解答</option>
                </select>
            </p>
			<p><span class="title">优&nbsp;&nbsp;先&nbsp;级:</span>
                <select id="priority" style="width:173px;">
                    <option value="高">高</option>
                    <option value="中" selected="selected">中</option>
                    <option value="低">低</option>
                </select>
			</p>
			<div class="in_inputtwo">
    		<label class="itemTitle">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容:</label>&nbsp;&nbsp;
    		<textarea rows="6" cols="50" style="vertical-align:top" type="text" id="content"></textarea>
			</div>
			<p><span class="title">处&nbsp;&nbsp;理&nbsp;人:</span><input type="text" id="handler"/></p>
			<p><span class="title">处理工时(小时):</span><input type="text" id="handleTime"/></p>
			<p><span class="title">是否在计划中:</span><input type="text" id="isInPlan"/></p>
	</div>
</body>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="./js/jquery.basictable.min.js"></script>
<script type="text/javascript" src="./js/reponsetable.min.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript">
	$(function(){
		$('#table').basictable({
			breakpoint: 768
		});
		$.ajax({
            url: 'getDailyList',
            type: 'get',
            success: function(res){

                $("#table").reponsetable({
                    "id":"table",
                    "operation": "editer",
                    "type":"numbers",
                    "colum": [
                        {"field": "dailyDate","title": "日期"},
                        {"field": "project","title": "所属项目"},
                        {"field": "firstModule","title": "一级模块"},
                        {"field": "secondModule","title": "二级模块"},
                        {"field": "problemType","title": "问题类型"},
                        {"field": "priority","title": "优先级"},
                        {"field": "content","title": "内容"},
                        {"field": "handler","title": "处理人"},
                        {"field": "handleTime","title": "处理工时"},
                        {"field": "isInPlan","title": "是否在计划中"},
                    ],
                    "data": res
                });
            }
        })
	})
	function addtr() {
		layer.open({
		  type: 1,
		  title: '新增日志',
		  closeBtn: 1,
		  area: '516px',
		  skin: '#fff', //没有背景色
		  shadeClose: true,
		  content: $('#editcontent'),
		  btn:["保存","关闭"],
		  btn1:function(index,layero){
			  var dailyDate=$("#dailyDate").val();
			  var project=$("#project").val();
			  var firstModule=$("#firstModule").val();
			  var secondModule=$("#secondModule").val();
			  var problemType=$("#problemType").val();
			  var priority=$("#priority").val();
			  var content=$("#content").val();
			  var handler=$("#handler").val();
			  var handleTime=$("#handleTime").val();
			  var isInPlan=$("#isInPlan").val();
			  var obj = {
				"dailyDate":dailyDate,
			  	"project": project,
			  	"firstModule": firstModule,
			  	"secondModule": secondModule,
			  	"problemType": problemType,
				"priority":priority,
				"content":content,
				"handler":handler,
				"handleTime":handleTime,
				"isInPlan":isInPlan
			  };
              reponse.addtr(obj, "table");
              $.ajax({
                  url: 'saveDaily',
                  type: 'post',
                  data: JSON.stringify(obj),
                  contentType: 'application/json;charset=UTF-8',
                  success: function(res){
                      alert(res);
                  }
              })
			  //reponse.editsavetr(obj, "table");
			  layer.close(index);
		  },btn2:function(index,layero){
			  layer.close(index);
		  }
		});
	};
	function uptr(btn, e) {
		var tr = $(btn).parent().parent();
		reponse.moveuptr(tr, "table");
	}
	function downtr(btn, e) {
		var tr = $(btn).parent().parent();
		reponse.moveDown(tr, "table");
	}
	function ExportExcel() {
		var tableobj=$("#table").data("tableObj");
		reponse.JSONToCSVConvertor(tableobj, true,"人员表格");
	}
	function resivetabledata(){
		var pp=$("#table").data("tableObj").data;
		alert(JSON.stringify(pp));
	}
	// function reloadtable(){
    //     $.ajax({
    //         url: 'getDailyList',
    //         type: 'get',
    //         success: function(res){
    //             $("#table").reponsetable({
    //                 "id":"table",
    //                 "operation": "editer",
    //                 "type":"numbers",
    //                 "colum": [
    //                     {"field": "dailyDate","title": "日期"},
    //                     {"field": "project","title": "所属项目"},
    //                     {"field": "firstModule","title": "一级模块"},
    //                     {"field": "secondModule","title": "二级模块"},
    //                     {"field": "problemType","title": "问题类型"},
    //                     {"field": "priority","title": "优先级"},
    //                     {"field": "content","title": "内容"},
    //                     {"field": "handler","title": "处理人"},
    //                     {"field": "handleTime","title": "处理工时"},
    //                     {"field": "isInPlan","title": "是否在计划中"},
    //                 ],
    //                 "data": res
    //             });
    //         }
    //     })
	// }
	function edittr(a, e) {

		var tr = $(a).parent().parent();
		reponse.resiverowdata(tr, "table");
		var rowdata=$("#table").data("rowdata");
		//alert(JSON.stringify(rowdata));
		//页面层-佟丽娅
		
		layer.open({
		  type: 1,
		  title: '编辑日志',
		  closeBtn: 1,
		  area: '516px',
		  skin: '#fff', //没有背景色
		  shadeClose: true,
		  content: $('#editcontent'),
		  btn:["保存","关闭"],
		  btn1:function(index,layero){
			  var dailyDate=$("#dailyDate").val();
			  var project=$("#project").val();
			  var firstModule=$("#firstModule").val();
			  var secondModule=$("#secondModule").val();
			  var problemType=$("#problemType").val();
			  var priority=$("#priority").val();
			  var content=$("#content").val();
			  var handler=$("#handler").val();
			  var handleTime=$("#handleTime").val();
			  var isInPlan=$("#isInPlan").val();
			  var obj = {
				"dailyDate":dailyDate,
			  	"project": project,
			  	"firstModule": firstModule,
			  	"secondModule": secondModule,
			  	"problemType": problemType,
				"priority":priority,
				"content":content,
				"handler":handler,
				"handleTime":handleTime,
				"isInPlan":isInPlan
			  };
			  reponse.editsavetr(obj, "table");
			  layer.close(index);
		  },btn2:function(index,layero){
			  layer.close(index);
		  }
		});
	}
	function deletetr(a, e) {
		var tr = $(a).parent().parent();
		reponse.deletetr(tr, e);
	}
	function coldata(){
		var pp=reponse.Columndata("Name","table");
		alert(pp);
	}
</script>
</html>